name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    strategy:
      # Don't cancel other jobs if one fails.
      fail-fast: false
      matrix:
        os: [macos-14, macos-15, macos-26]
        opts: ['', '--without-ffmpeg', '--HEAD']
    runs-on: ${{ matrix.os }}

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
        with:
          show-progress: false

      - name: Update homebrew
        run: |
          brew update
          brew upgrade

      - name: Install extra dependencies for --HEAD
        if: contains('--HEAD', ${{ matrix.opts }})
        run: |
          brew uninstall perl
          brew install inkscape

      - name: Test installing survex homebrew package
        run: |
          brew tap survex/survex https://git.survex.com/homebrew-survex
          brew install survex ${{ matrix.opts }}
